body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}

.container {
  background-color: #1e1e2f;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  
}

h2 {
  margin-top: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
}

h2::before {
  content: "📄";
  margin-right: 10px;
}

#dropZone {
  border: 2px dashed #888;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  margin: 20px 0;
  background-color: #2a2a3d;
  color: #ccc;
}

#dropZone.hover {
  border-color: #7c3aed;
  background-color: #333352;
  color: #fff;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #c7f1ff;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}

button {
  background-color: #5a4bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #4532cc;
}
